nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-weight: bolder;
    background-size: cover;

}

div a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: x-large;
}

.a {
    color: white;
    font-size: xx-large;
}

header {
    background-image: url(images/image.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;


}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
}

div.b {
    color: azure;

    padding-top: 100px;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 500px;
    font-weight: bolder;
    font-size: xx-large;
}

div.c {
    color: white;

    padding-top: 75px;
    font-size: x-large;
}

div.z {
    display: flex;

    padding: 20px;

    column-gap: 10px;

}

.z img {
    width: 30px;
    height: 40px;
}

.container hr {
    width: 600px;
    text-align: left;
    align-items: left;

}

.container {
    margin-left: 160px;
    margin-right: 160px;

    padding-bottom: 50px;
}

/* section banner*/
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 80px;
    text-align: center;
}

.divider {
    border: 1px solid gray;
}

.grid img {
    height: 80px;
    width: 80px;

}
div.p1 {
    color: #140748;
}

div.p2 {
    color: #666666;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 90px;
}

.content img {
    height: 240px;
    width: 240px;
    margin-bottom: -75px;
}

.blue {
    background-color: #140748;

    width: 100%;
}

div h2 {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 110px;
    text-transform: uppercase;
    padding-left: 225px;
}

.imageGallery {
    margin-bottom: -75px;
}

div#blue {
    color: aliceblue;
    padding-left: 225px;
    font-size: x-large;
    padding-bottom: 125px;
}

div.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.letter img {
    width: 90px;
    height: 90px;

}

/*4th section*/
.new {
    display: grid;
    grid-template-columns: auto auto;
}

#heading {
    color: #140748;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 90px;
    padding-left: 30px;
}

div p {
    color: #666666;
    padding: 30px;
}
#span i{
    padding: 15px;
}
#span span{
    color: black;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 400;
    margin-bottom: 130px;
}
.new a{
    color: aliceblue;
    background-color: #140748;
    margin-left: 65px;
   font-size: small;
   font-weight: 900;
   margin-top: 130px;  
   padding: 10px; 
}
/*5th section*/
#heading{
    color: #140748;
    font-size: xx-large;
    font-weight: bolder;
    margin: 50px;

}

#subheading{
margin-left:110px ;
}
#subheading span{
    color: #140748;
    margin-left: 120px;
    text-transform: uppercase;
}
#subheading p{
    font-size: larger;
    margin-left:110px ;
}
.fivthsection{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}
/*6th section*/
.sixthsection{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 70px;
}
