h1 {
    font-size: 75;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: blue;
    margin-bottom: 0px;
}
body{
    background-color: aqua;
}

div nav {
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

a {
    color: azure;
    text-decoration: none;
}

.a {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/back.jpg); 
}

.a div {
    font-size: x-large;
    font-weight: 600;
    color: white;
    padding: 200px;
   text-transform: capitalize;
   text-align: end;
}

/*2nd section*/
.b div{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
/*3rd section*/
.c{
     background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/back2.png); 
}
.c h2{
    color: black;
    font-size: x-large;
    font-weight: bold;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 500px;
}
.exclusive{
    text-transform: capitalize;
    color: black;
    padding: 100px;
    margin-top: 20px;
    font-size: x-large;
    padding-bottom: 200px;
}
.gap{
    padding: 20px;
}
#grid{
   display: grid;
   grid-template-columns:  auto auto auto;
   justify-content: space-between;
   margin-top: 20px;
}